<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="assets/vendor/vector-map/jqvmap.css">
    <link href="assets/vendor/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/daterangepicker/daterangepicker.css" />

</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div th:replace="~{/admin/layout/header.html}"></div>
        <div th:replace="~{/admin/layout/menu.html}"></div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-finance">
                <div class="container-fluid dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h3 class="mb-2">Sản phẩm bán chạy</h3>
                                <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta,
                                    fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Thống kê</a>
                                            </li>
                                            <li class="breadcrumb-item active" aria-current="page">Sản phẩm bán chạy
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- data table  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top: -10px;">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Tóp 5 sản phẩm bán chạy nhất</h5>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="example" class="table table-striped table-bordered second" 
                                            style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Xuất xứ</th>                          
                                                    <th>Giá tiền</th>
                                                    <th>Ảnh sản phẩm</th>  
                                                    <th>Số lượng sản phẩm bán được</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Sử dụng Thymeleaf để lặp qua danh sách sản phẩm bán chạy nhất -->
                                                <tr th:each="product, index : ${top5BestSellingProducts}">
                                                    <td th:text="${index.index + 1}"></td> 
                                                    <td th:text="${product.ProductName}"></td> 
                                                    <td th:text="${product.totalQuantitySold}"></td> 
                                                    <td
                                                    th:text="${#numbers.formatDecimal(product.Price, 0, 'COMMA', 0, 'POINT')} + ' VND'">
                                                </td>
                                                    <td>
                                                        <img th:src="@{'/assets/images/products/' + ${product.Image}}"
                                                            width="100px" style="border-radius: 10px;">
                                                    </td> 
                                                    <td th:text="${product.Origin}"></td> 
                                                </tr>
                                                

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Xuất xứ</th>                          
                                                    <th>Giá tiền</th>
                                                    <th>Ảnh sản phẩm</th>  
                                                    <th>Số lượng sản phẩm bán được</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end data table  -->
                        <!-- ============================================================== -->
                    </div>
                    <!-- ============================================================== -->
                    <!-- end footer -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- end wrapper  -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper  -->
            <!-- ============================================================== -->
            <!-- jquery 3.3.1  -->
            <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
            <!-- bootstap bundle js -->
            <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
            <!-- slimscroll js -->
            <script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
            <!-- chart chartist js -->
            <script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
            <script src="assets/vendor/charts/chartist-bundle/Chartistjs.js"></script>
            <script src="assets/vendor/charts/chartist-bundle/chartist-plugin-threshold.js"></script>
            <!-- chart C3 js -->
            <script src="assets/vendor/charts/c3charts/c3.min.js"></script>
            <script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
            <!-- chartjs js -->
            <script src="assets/vendor/charts/charts-bundle/Chart.bundle.js"></script>
            <script src="assets/vendor/charts/charts-bundle/chartjs.js"></script>
            <!-- sparkline js -->
            <script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
            <!-- dashboard finance js -->
            <script src="assets/libs/js/dashboard-finance.js"></script>
            <!-- main js -->
            <script src="assets/libs/js/main-js.js"></script>
            <!-- gauge js -->
            <script src="assets/vendor/gauge/gauge.min.js"></script>
            <!-- morris js -->
            <script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
            <script src="assets/vendor/charts/morris-bundle/morris.js"></script>
            <script src="assets/vendor/charts/morris-bundle/morrisjs.html"></script>
            <!-- daterangepicker js -->
            <script src="../../../../cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
            <script src="../../../../cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
            
            <script>
                $(function () {
                    $('input[name="daterange"]').daterangepicker({
                        opens: 'left'
                    }, function (start, end, label) {
                        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                    });
                });
            </script>
</body>

</html>