<section>
    <aside>
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Thống kê</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Thống kê<span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/doanhthu}">Doanh thu</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/loinhuan}">Lợi nhuận</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/sanphambanchay}">Sản phẩm bán chạy nhất</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/sanphamconlai}">Sản phẩm còn lại trong kho</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/khachhang}">khách hàng mua nhiều nhất</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/donhang}">Tổng số lượng đơn hàng đã bán được</a>
                                        </li>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>Quản Lý</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/admin/category}">Phân loại<span class="badge badge-secondary">New</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/admin/color}">Màu</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/admin/material}">Chất liệu</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/admin/brand}">Thương hiệu</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/admin/reviewsimg}">Ảnh đánh giá</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/admin/reviews}">Đánh giá</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/admin/product}">Sản phẩm</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/admin/discount}">Giảm giá</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/admin/favorite}">Yêu thích</a>
                                        </li> 
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/admin/account}">Tài khoản</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/admin/role}">Role</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/admin/authority}">Authority</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/admin/order}">Đơn hàng</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/admin/order}">Đơn hàng chi tiết</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            
              
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </aside>
</section>
