<body ng-controller="ChangePasswordController">
	<div class="body-cart container my-4">
		<div class="row">
			<div class="col-3 rounded-1 px-0" style="background-color: #eff2f1">
				<div ng-include="'/assets/user/Layouts/side-profile.html'"></div>
			</div>

			<div class="col-9 ">
				<div class="row bg-white ms-3 rounded-1">
					<h4 class="text-black mt-4 ms-3">Đổi mật khẩu</h4>
					<span class="fs-6  ms-3">Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác
					</span>
					<form method="post" role="form">
						<div class="body-change-pass border-top mt-4">
							<div class="row mt-4">


							</div>
							<div class="row mt-4">
								<div class="col-4 text-end my-auto">
									<label for="newPassword">Mật khẩu mới</label>
								</div>
								<div class="col-5">
									<input type="password" class="form-control h-50px" name="password" id="password"
										ng-model="profile.newPassword" aria-describedby="helpId"
										autocomplete="current-password" />
									<span id="message3" style="color: red;"></span>
								</div>

							</div>
							<div class="row mt-3">
								<div class="col-4 text-end my-auto">
									<label for="confirmPassword">Xác nhận mật khẩu mới</label>
								</div>
								<div class="col-5">
									<input type="password" class="form-control h-50px" name="confirmPassword"
										id="confirmPassword" aria-describedby="helpId"
										ng-model="profile.confirmPassword" />
									<span id="message4" style="color: red;"></span>
								</div>
							</div>
							<div class=" text-center my-4">
								<button class="btn btn-primary" ng-click="updateAccount()"
									onclick="return checkName();">Lưu thay đổi</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>