<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="side-profile" th:fragment="profile-user">
        <div class="pt-3">
            <div class="row g-0 border-bottom-0 pb-3">
                <div class="col-md-3 my-auto ps-3">
                    <img src="/assets/images/others/person_1.jpg" class="img-fluid rounded-pill " alt="Card title" />
                </div>
                <div class="col-md-8 my-auto ms-2">
                    <a href="" class="text-decoration-none">
                        <div class="car">
                            <span class="fw- ">Tên khách hàng</span><br>
                            <span class="fw- "><i class="fa-solid fa-pencil"></i> Sửa hồ sơ</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush w-100" id="accordionFlushExample">
            <div class="accordion-item border-top border-secondary-subtle">
                <div class="accordion-button collapsed ps-3 border-bottom-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" style="background-color: #eff2f1;" aria-expanded="false"
                    aria-controls="flush-collapseOne">
                    Tài khoản
                </div>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample"
                    style="background-color: #eff2f1; ">
                    <div class="accordion-body text-center">
                        <a href="/profile" class="text-decoration-none">Profile</a><br>
                        <a href="/changepassword" class="text-decoration-none">Đổi mật khẩu</a><br>
                        <a href="/user/logout" class="text-decoration-none">Đăng xuất</a>
                    </div>
                </div>
            </div>
            <div class="mt-3 ms-3">
                <a class="fs-6 text-black text-decoration-none" href="/purchase">
                    Đơn mua
                </a>
            </div>
            <hr>
            <div class=" ms-3">
                <a class="fs-6 text-black text-decoration-none" href="/contact">
                    Liên hệ
                </a>
            </div>
            <hr>
            <div class=" ms-3 mb-3">
                <a class="fs-6 text-black text-decoration-none" href="/faqs">
                    FAQs
                </a>
            </div>
        </div>
    </div>
</body>

</html>