<body ng-controller="ProductsController">
    <div class="filters">
        <h3>Bộ lọc</h3>
        <hr>
        <div class="form-check">
            <input class="form-check-input focus-form" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label fs-6" for="defaultCheck1">
                Ưu đãi giảm giá
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input focus-form" type="checkbox" value="" id="defaultCheck2">
            <label class="form-check-label fs-6" for="defaultCheck2">
                Mới nhất
            </label>
        </div>
        <hr style="margin-bottom: 0px;">
    </div>
    <div class="accordion accordion-flush acc-normal" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header " id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Giá
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body shi">
                    <div class="row text-center ">
                        <div class="col-6"><span class="card p-1" ng-click="fetchProductsSortedByPrice500Asc()">Dưới
                                500.000</span></div>
                        <div class="col-6"><span class="card p-1" ng-click="fetchProductsSortedByPrice500Asc1()">Trên
                                500.000</span></div>
                        <div class="col-6 mt-2">
                            <div class="mb-3">
                                <input type="number" class="form-control" ng-model="minPrice"
                                    placeholder="Nhập giá min" />
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div class="mb-3">
                                <input type="number" class="form-control" ng-model="maxPrice"
                                    placeholder="Nhập giá max" />
                            </div>
                        </div>
                        <div class="col-12 mt-2"><a class="btn btn-outline-primary"
                                ng-click="fetchProductsInPriceRangeSortedByPriceAsc()">Áp dụng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo2" aria-expanded="false" aria-controls="flush-collapseTwo2">
                    Thương hiệu
                </button>
            </h2>
            <div id="flush-collapseTwo2" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                    <div class="row mt-2">
                        <div class="col-6">
                            <div class="form-check" ng-repeat="brand in brands">
                                <input class="form-check-input focus-form" type="checkbox" id="Casio"
                                    ng-model="brand.selected" ng-change="fetchFilteredProducts()">
                                <label class="form-check-label fs-6"> {{brand.name}}</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Loại
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input focus-form" type="checkbox" value="" id="Casio">
                                <label class="form-check-label fs-6" for="Casio">
                                    Đồng hồ thông minh
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input focus-form" type="checkbox" value="" id="Casio">
                                <label class="form-check-label fs-6" for="Casio">
                                    Đồng hồ kim
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input focus-form" type="checkbox" value="" id="Casio">
                                <label class="form-check-label fs-6" for="Casio">
                                    Legend
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input focus-form" type="checkbox" value="" id="Casio">
                                <label class="form-check-label fs-6" for="Casio">
                                    Mada
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input focus-form" type="checkbox" value="" id="Casio">
                                <label class="form-check-label fs-6" for="Casio">
                                    Rolex
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo3" aria-expanded="false" aria-controls="flush-collapseTwo3">
                    Giới tính
                </button>
            </h2>
            <div id="flush-collapseTwo3" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                    <div class="row mt-2">

                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input focus-form" type="checkbox" value="" id="Casio">
                                <label class="form-check-label fs-6" for="Casio">
                                    Nam
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input focus-form" type="checkbox" value="" id="Casio">
                                <label class="form-check-label fs-6" for="Casio">
                                    Nữ
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input focus-form" type="checkbox" value="" id="Casio">
                                <label class="form-check-label fs-6" for="Casio">
                                    Unisex
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThreeq" aria-expanded="false" aria-controls="flush-collapseThree">
                    Màu
                </button>
            </h2>
            <div id="flush-collapseThreeq" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                    <div class="row mt-2">

                        <div class="col-6">
                            <div class="form-check" ng-repeat="color in colors">
                                <input class="form-check-input focus-form" type="checkbox" value="" id="Casio"
                                    ng-model="color.selected" ng-change="byColor()">
                                <label class="form-check-label fs-6" for="Casio">
                                    {{color.name}}
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input focus-form" type="checkbox" value="" id="Casio">
                                <label class="form-check-label fs-6" for="Casio">
                                    Xám
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input focus-form" type="checkbox" value="" id="Casio">
                                <label class="form-check-label fs-6" for="Casio">
                                    Đỏ
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Đánh giá
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body t">
                    <div class="five-starts">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </div>
                    <div class="four-starts">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span>( 4 sao trở lên )</span>
                    </div>
                    <div class="three-starts">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span>( 3 sao trở lên )</span>
                    </div>
                    <div class="two-starts">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span>( 2 sao trở lên )</span>
                    </div>
                    <div class="one-start">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span>( 1 sao trở lên )</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>