<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Form Account</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href=@{/assets/vendor/bootstrap/css/bootstrap.min.css}>
    <link th:href=@{/assets/vendor/fonts/circular-std/style.css} rel="stylesheet">
    <link rel="stylesheet" th:href=@{/assets/libs/css/style.css}>
    <link rel="stylesheet" th:href=@{/assets/vendor/fonts/fontawesome/css/fontawesome-all.css}>

    <!-- table -->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">

    <link rel="stylesheet" type="text/css" th:href=@{/assets/vendor/datatables/css/dataTables.bootstrap4.css}>
    <link rel="stylesheet" type="text/css" th:href=@{/assets/vendor/datatables/css/buttons.bootstrap4.css}>
    <link rel="stylesheet" type="text/css" th:href=@{/assets/vendor/datatables/css/select.bootstrap4.css}>
    <link rel="stylesheet" type="text/css" th:href=@{/assets/vendor/datatables/css/fixedHeader.bootstrap4.css}>
    <!-- table -->
    <style>
        td {
            white-space: normal;
            word-wrap: break-word;
            overflow-wrap: break-word;
            max-width: 100px;
            font-size: 14px;
        }

        th {
            font-size: 13px;
        }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/admin">TechVortex</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Search..">
                            </div>
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span
                                    class="indicator"></span></a>
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img
                                                            th:src=@{/assets/images/avatar-2.jpg} alt=""
                                                            class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span
                                                            class="notification-list-user-name">Jeremy
                                                            Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img
                                                            th:src=@{/assets/images/avatar-3.jpg} alt=""
                                                            class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span
                                                            class="notification-list-user-name">
                                                            John Abraham</span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img
                                                            th:src=@{/assets/images/avatar-4.jpg} alt=""
                                                            class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span
                                                            class="notification-list-user-name">Monaan Pechi</span> is
                                                        watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img
                                                            th:src=@{/assets/images/avatar-5.jpg} alt=""
                                                            class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span
                                                            class="notification-list-user-name">Jessica
                                                            Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img th:src=@{/assets/images/github.png}
                                                    alt=""> <span>Github</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img
                                                    th:src=@{/assets/images/dribbble.png} alt="">
                                                <span>Dribbble</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img
                                                    th:src=@{/assets/images/dropbox.png} alt="">
                                                <span>Dropbox</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img
                                                    th:src=@{/assets/images/bitbucket.png} alt="">
                                                <span>Bitbucket</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img
                                                    th:src=@{/assets/images/mail_chimp.png} alt=""><span>Mail
                                                    chimp</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><img th:src=@{/assets/images/slack.png}
                                                    alt=""> <span>Slack</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="../assets/images/avatar-1.jpg" alt=""
                                    class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">
                                        John Abraham</h5>
                                    <span class="status"></span><span class="ml-2">Available</span>
                                </div>
                                <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Thống kê</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                                    data-target="#submenu-1" aria-controls="submenu-1"><i
                                        class="fa fa-fw fa-user-circle"></i>Thống kê<span
                                        class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/doanhthu">Doanh thu</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/loinhuan">Lợi nhuận</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/sanphambanchay">Sản phẩm bán chạy nhất</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/sanphamconlai">Sản phẩm còn lại trong kho</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/khachhang">khách hàng mua nhiều nhất</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/donhang">Tổng số lượng đơn hàng đã bán được</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                                    data-target="#submenu-2" aria-controls="submenu-2"><i
                                        class="fa fa-fw fa-rocket"></i>Quản Lý</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/category">Phân loại<span
                                                    class="badge badge-secondary">New</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/color">Màu</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/material">Chất liệu</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/brand">Thương hiệu</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/reviewsimg">Ảnh đánh giá</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/reviews">Đánh giá</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/product">Sản phẩm</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/discount">Giảm giá</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/favorite">Yêu thích</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/account">Tài khoản</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/role">Role</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/authority">Authority</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/order">Đơn hàng</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/admin/order">Đơn hàng chi tiết</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                        </ul>
                    </div>
                </nav>
            </div>
        </div>
         
    <!-- bang  -->
    <div class="dashboard-wrapper" style="margin-top: 70px;">
        
        <div class="container-fluid  dashboard-content">
                <div class="row" style="margin-top: -80px;">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Tài khoản</h2>                           
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Quản Lý</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Tài khoản</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top: -20px;">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Dữ liệu bảng tài khoản</h5>                                  
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table  id="example" class="table table-striped table-bordered second" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Tên đầy đủ</th>                                        
                                            <!-- <th>Hình ảnh</th>   -->
                                            <th>Số điện thoại</th>  
                                            <th>Email</th> 
                                            <th>Trạng thái</th>
                                            <th>Ngày sinh</th>
                                            <th>Giới tính</th>
                                            <th>Thay đổi trạng thái</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="account : ${allAccounts}">
                                            <td  th:text="${account.FullName}"></td>                                      
                                              <!-- <td>
                                                <img th:src="@{/assets/images/products/{Avatar}(Avatar=${account.Avatar})}"
                                                width="50px" style="border-radius: 10px;">
                                            </td>   -->
                                           

                                            
                                                                              
                                            <td  th:text="${account.Phone}"></td>
                                            <td  th:text="${account.Email}"></td>                         
                                            <td th:text="${account.Active ? 'Hoạt động' : 'Không hoạt động'}" 
                                           th:style="${account.Active ? 'color: green;' : 'color: red;'}">
                                                </td>                             
                                                <td  th:text="${account.Birth}"></td>      
                                            <!-- <td th:text="${#dates.format(account.Birth, 'dd/MM/yyyy')}"></td> -->
                                            <td th:text="${account.Gender ? 'Nam' : 'Nữ'}"></td>                  
                                                <td style="line-height: 40px; ">                         
                                                    <select class="form-control" onchange="updateStatus('${account.UserName}', this)">
                                                        <option th:selected="${account.Active}">Hoạt động</option>
                                                        <option th:selected="${!account.Active}">Không hoạt động</option>
                                                    </select>
                                                    
                                                    
                                            </td>  
                                                                                                                                                                      
                                        </tr>             
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Tên đầy đủ</th>                                        
                                            <!-- <th>Hình ảnh</th>   -->
                                            <th>Số điện thoại</th>  
                                            <th>Email</th> 
                                            <th>Trạng thái</th>
                                            <th>Ngày sinh</th>
                                            <th>Giới tính</th>
                                            <th>Thay đổi trạng thái</th>                                               
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- ============================================================== -->
                <!-- data table  -->
                <!-- ============================================================== -->
              
                <!-- ============================================================== -->
                <!-- end data table  -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end basic table  -->
            <!-- ============================================================== -->

            <!-- end bang -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->

           
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script th:src=@{/assets/vendor/jquery/jquery-3.3.1.min.js}></script>
    <script th:src=@{/assets/vendor/bootstrap/js/bootstrap.bundle.js}></script>
    <script th:src=@{/assets/vendor/slimscroll/jquery.slimscroll.js}></script>
    <script th:src=@{/assets/vendor/parsley/parsley.js}></script>
    <script th:src=@{/assets/libs/js/main-js.js}></script>
    <script>

        $('#form').parsley();
    </script>

    <!-- Import thư viện SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    
   // Hàm gửi yêu cầu cập nhật trạng thái lên server
   function updateStatus(userName, newStatus) {
    // Hiển thị cửa sổ xác nhận
    Swal.fire({
        title: 'Xác nhận thay đổi trạng thái?',
        text: "Bạn có chắc muốn thay đổi trạng thái của tài khoản này?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Có',
        cancelButtonText: 'Không'
    }).then((result) => {
        if (result.isConfirmed) {
            // Chuyển đổi trạng thái từ chuỗi sang boolean
            var statusBoolean = newStatus === "Hoạt động";

            // Gửi yêu cầu cập nhật trạng thái lên server
            fetch('/updateAccountStatus', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    userName: userName,
                    newStatus: statusBoolean // Truyền giá trị boolean cho trạng thái mới
                })
            })
            .then(response => response.json())
            .then(data => {
                // Xử lý dữ liệu trả về từ server
                // Hiển thị thông báo cập nhật thành công nếu cần
                Swal.fire(
                    'Cập nhật thành công!',
                    'Trạng thái của tài khoản đã được cập nhật.',
                    'success'
                );
            })
            .catch(error => {
                console.error('Error:', error);
                // Xử lý lỗi nếu có
                // Hiển thị thông báo lỗi nếu cần
                Swal.fire(
                    'Lỗi!',
                    'Đã xảy ra lỗi khi cập nhật trạng thái của tài khoản.',
                    'error'
                );
            });
        } else {
            // Người dùng không xác nhận, không làm gì cả
            // Có thể có các xử lý khác tùy theo yêu cầu của bạn
        }
    });
}



</script>


    


    <script th:src=@{/assets/vendor/multi-select/js/jquery.multi-select.js}></script> -->
    <script th:src=@{https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js}></script>
    <script th:src=@{/assets/vendor/datatables/js/dataTables.bootstrap4.min.js}></script>
    <script th:src=@{https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js}></script>
    <script th:src=@{/assets/vendor/datatables/js/buttons.bootstrap4.min.js}></script>
     <script th:src=@{/assets/vendor/datatables/js/data-table.js}></script>
    <script th:src=@{https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js}></script>
    <script th:src=@{https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js}></script>
    <script th:src=@{https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js}></script>
    <script th:src=@{https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js}></script>
    <script th:src=@{https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js}></script>
    <script th:src=@{https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js}></script>
    <script th:src=@{https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js}></script>
    <script th:src=@{https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js}></script>
    <script th:src=@{https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js}></script>
</body>

</html>