<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="authority">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bảng phân quyền</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href=@{/assets/vendor/bootstrap/css/bootstrap.min.css}>
    <link rel="stylesheet" th:href=@{/assets/vendor/fonts/circular-std/style.css}>
    <link rel="stylesheet" th:href=@{/assets/libs/css/style.css}>
    <link rel="stylesheet" th:href=@{/assets/vendor/fonts/fontawesome/css/fontawesome-all.css}>

    <!-- table -->

    <link rel="stylesheet" type="text/css" th:href=@{/assets/vendor/datatables/css/dataTables.bootstrap4.css}>
    <link rel="stylesheet" type="text/css" th:href=@{/assets/vendor/datatables/css/buttons.bootstrap4.css}>
    <link rel="stylesheet" type="text/css" th:href=@{/assets/vendor/datatables/css/select.bootstrap4.css}>
    <link rel="stylesheet" type="text/css" th:href=@{/assets/vendor/datatables/css/fixedHeader.bootstrap4.css}>
    <!-- table -->
</head>
<style>
    td {
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 100px;
        font-size: 14px;
    }

    th {
        font-size: 13px;
    }
</style>

<body ng-controller="authorityController">
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">

        <div th:replace="~{/admin/layout/header.html}"></div>
        <div th:replace="~{/admin/layout/menu.html}"></div>
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Phân quyền</h2>

                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Quản Lý</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Phân quyền</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->

                <div class="row">
                    <!-- ============================================================== -->
                    <!-- validation form -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top: -12px;">
                        <div class="card">
                            <h5 class="card-header">Phân quyền quản lý</h5>
                            <div class="card-body">

                                <table class="table table-border">
                                    <thead class="bg-success" style="font-variant: small-caps;">
                                        <tr>
                                            <th></th>
                                            <th ng-repeat="role in roles" class="text-center">{{role.roleId}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="acc in admins">
                                            <td>{{acc.userName}}</td>
                                            <th ng-repeat="role in roles" class="text-center">
                                                <input ng-checked="authority_of(acc, role)"
                                                    ng-click="authority_changed(acc, role)" type="checkbox">
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end validation form -->
                <!-- ============================================================== -->
            </div>
        </div>
    </div>

    </div>


    <!-- bang  -->
    <div class="dashboard-wrapper" style="margin-top: -430px;">
        <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <!-- <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Table Category</h2>
                                <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Data Tables</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div> -->
            <div class="row">
                <!-- ============================================================== -->
                <!-- data table  -->
                <!-- ============================================================== -->
                <!--                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top: -35px;">-->
                <!--                    <div class="card">-->
                <!--                        <div class="card-header">-->
                <!--                            <h5 class="mb-0">Dữ liệu bảng Authority</h5>-->
                <!--                        </div>-->
                <!--                        <div class="card-body">-->
                <!--                            <div class="table-responsive">-->
                <!--                                <table id="example" class="table table-striped table-bordered second"-->
                <!--                                    style="width:100%">-->
                <!--                                    <thead>-->
                <!--                                        <tr>-->
                <!--                                            <th>ID</th>-->
                <!--                                            <th>Username</th>-->
                <!--                                            <th>Role</th>-->
                <!--                                            <th>Edit And Delete</th>-->
                <!--                                        </tr>-->
                <!--                                    </thead>-->
                <!--                                    <tbody>-->
                <!--                                        <tr th:each="authority, stt : ${authorityList}">-->
                <!--                                            <td th:text="${stt.count}"></td>-->
                <!--                                            <td th:text="${authority.account.UserName}"></td>-->
                <!--                                            <td th:text="${authority.role.RoleId}"></td>-->
                <!--                                            <td style="line-height: 40px;">-->
                <!--                                                <a-->
                <!--                                                    th:onclick="'return confirmDelete(' + *{authority.AuthorityID} + ');'"></a>-->
                <!--                                                <button class="btn btn-danger" type="submit"-->
                <!--                                                    style="width:60px; float: right;">-->
                <!--                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"-->
                <!--                                                        fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">-->
                <!--                                                        <path-->
                <!--                                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />-->
                <!--                                                        <path-->
                <!--                                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />-->
                <!--                                                    </svg>-->
                <!--                                                </button>-->
                <!--                                                </a>-->
                <!--                                                <a th:href="@{'/admin/editAuthority/' + ${authority.AuthorityID}}">-->
                <!--                                                    <button class="btn btn-primary"-->
                <!--                                                        style="width:60px; float: right; margin-right: 7px;">-->
                <!--                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"-->
                <!--                                                            fill="currentColor" class="bi bi-pencil"-->
                <!--                                                            viewBox="0 0 16 16">-->
                <!--                                                            <path-->
                <!--                                                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />-->
                <!--                                                        </svg>-->
                <!--                                                    </button>-->
                <!--                                                </a>-->
                <!--                                            </td>-->
                <!--                                        </tr>-->
                <!--                                    </tbody>-->

                <!--                                    <tfoot>-->
                <!--                                        <tr>-->
                <!--                                            <th>ID</th>-->
                <!--                                            <th>Username</th>-->
                <!--                                            <th>Role</th>-->
                <!--                                            <th>Edit And Delete</th>-->
                <!--                                        </tr>-->
                <!--                                    </tfoot>-->
                <!--                                </table>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!-- ============================================================== -->
                <!-- end data table  -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end basic table  -->
            <!-- ============================================================== -->

            <!-- end bang -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->

            <!-- <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-left: 250px; width: 100%;">
                            Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
</div>                 
                    </div>
                </div>
            </div> -->
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="../assets/vendor/parsley/parsley.js"></script>
    <script src="../assets/libs/js/main-js.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>






        $('#form').parsley();
    </script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();


        // table   
    </script>

    <script th:if="${not #strings.isEmpty(successMessage)}"> // thông báo lưu thành công
        var successMessage = 'Sửa quyền thành công';
        Swal.fire({
            icon: 'success',
            title: 'Thành công!',
            text: successMessage,
            showConfirmButton: false,
            timer: 1500,
        });
    </script>

    <script th:if="${not #strings.isEmpty(errorMessage)}"> // thông báo lưu thành công
        var successMessage = 'Bạn không thể sửa quyền của chính bạn';
        Swal.fire({
            icon: 'warning',
            title: 'Thành công!',
            text: successMessage,
            showConfirmButton: false,
            timer: 1500,
        });
    </script>

    <script th:if="${not #strings.isEmpty(errorMessageee)}"> // thông báo lưu thành công
        var successMessage = 'Bạn không thể sửa quyền của chính bạn';
        Swal.fire({
            icon: 'warning',
            title: 'Thành công!',
            text: successMessage,
            showConfirmButton: false,
            timer: 1500,
        });
    </script>

    <script>

        function confirmDelete(id) {
            Swal.fire({
                title: 'Bạn có chắc muốn xóa không?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Có',
                cancelButtonText: 'Không',
            }).then((result) => {
                if (result.isConfirmed) {
                    // Nếu người dùng đồng ý xóa, thực hiện chuyển đường dẫn
                    window.location.href = '/admin/deleteAuthority/' + id;
                }
            });

            // Trả về false để ngăn chặn hành động mặc định của liên kết
            return false;
        }


    </script>

    <script>
        function deleteAuthority(id) {
            var currentUser = getCurrentUser(); // Thay thế getCurrentUser() bằng cách lấy thông tin người dùng hiện tại từ session
            var authorityUsername = getAuthorityUsername(id); // Thay thế getAuthorityUsername(id) bằng cách lấy thông tin về người dùng của quyền từ server

            if (currentUser === authorityUsername) {
                var errorMessage = "Bạn không thể xóa quyền của chính bạn.";
                document.getElementById("errorMessage").innerText = errorMessage;
                document.getElementById("errorMessage").style.display = "block";
            } else {
                // Gọi API để xóa quyền
                fetch('/admin/deleteAuthority/' + id, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Có lỗi xảy ra khi xóa quyền.');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Xử lý dữ liệu nếu cần
                        // Sau đó, chuyển hướng lại trang authority hoặc làm gì đó khác
                        window.location.href = '/admin/authority';
                    })
                    .catch(error => {
                        console.error('Lỗi:', error);
                        // Xử lý lỗi nếu cần
                    });
            }
        }


    </script>

    <script>
        const editButtons = document.querySelectorAll('.edit-button');
        const updateButton = document.getElementById('updateButton');
        const submitButton = document.getElementById('submitButton');

        // Lấy tham số từ URL
        const urlParams = new URLSearchParams(window.location.search);
        const showUpdate = urlParams.get("showUpdate");

        // Kiểm tra giá trị tham số và hiển thị nút "Update" nếu cần thiết
        if (showUpdate === "true") {
            // Hiển thị nút "Update" và ẩn nút "Submit"
            updateButton.classList.remove('d-none');
            submitButton.classList.add('d-none');
        } else {
            // Ẩn nút "Update" và hiển thị nút "Submit" mặc định
            updateButton.classList.add('d-none');
            submitButton.classList.remove('d-none');
        }

        editButtons.forEach((button) => {
            button.addEventListener('click', function () {
                // Ẩn nút "Submit" và hiển thị nút "Update"
                submitButton.classList.add('d-none');
                updateButton.classList.remove('d-none');
            });
        });

        updateButton.addEventListener('click', function (event) {
            // Ẩn nút "Update" và hiển thị nút "Submit"
            updateButton.classList.add('d-none');
            submitButton.classList.remove('d-none');
        });
    </script>



    <script src="../assets/vendor/multi-select/js/jquery.multi-select.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="../assets/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="../assets/vendor/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="../assets/vendor/datatables/js/data-table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/assets/js/function/authority/authority.js"></script>
    <!-- // table   -->
</body>

</html>