<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Form giảm giá</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../../../assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../assets/libs/css/style.css">
    <link rel="stylesheet" href="../../../assets/vendor/fonts/fontawesome/css/fontawesome-all.css">

    <!-- table -->

    <link rel="stylesheet" type="text/css" href="../../../assets/vendor/datatables/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/vendor/datatables/css/buttons.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/vendor/datatables/css/select.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/vendor/datatables/css/fixedHeader.bootstrap4.css">
    <!-- table -->
    <style>
        td {
            white-space: normal;
            word-wrap: break-word;
            overflow-wrap: break-word;
            max-width: 100px;
            font-size: 14px;
        }

        th {
            font-size: 13px;
        }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div th:replace="~{/admin/layout/header.html}"></div>
        <div th:replace="~{/admin/layout/menu.html}"></div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Giảm giá</h2>
                            <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce
                                sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Quản Lý</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Giảm giá</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->

                <div class="row">
                    <!-- ============================================================== -->
                    <!-- validation form -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top: -12px;">
                        <div class="card">
                            <h5 class="card-header">Giảm giá</h5>
                            <div class="card-body">
                                <form action="/admin/savediscount" method="post" th:object="${discount}"
                                    onsubmit="return validateForm();">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 "
                                            style="margin-top: -17px;">
                                            <label for="DiscountId"></label>
                                            <input type="hidden" class="form-control" id="validationCustom01"
                                                placeholder="First name" th:field="*{discountId}">
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 "
                                            style="margin-top: 5px;">
                                            <label for="DiscountName">Tên giảm giá</label>
                                            <input type="text" class="form-control" id="discountName"
                                                placeholder="Tên giảm giá" th:field="*{discountName}">
                                                <i th:errors="*{DiscountName}" style="color: #e5193b;"></i>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 "
                                            style="margin-top: 5px;">
                                            <label for="Percents">Phần trăm giảm giá</label>
                                            <input type="number" class="form-control" id="discountPercents"
                                                placeholder="% giảm giá" th:field="*{percents}">
                                                <i th:errors="*{Percents}" style="color: #e5193b;"></i>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                                            style="margin-top: 5px;">
                                            <label for="StartDay">Ngày bắt đầu</label>
                                            <input type="date" class="form-control" id="discountStartday"
                                                placeholder="20/02/2024" th:field="*{startDay}">
                                                <i th:errors="*{StartDay}" style="color: #e5193b;"></i>
                                        </div>

                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                                            style="margin-top: 5px;">
                                            <label for="EndDay">Ngày kết thúc</label>
                                            <input type="date" class="form-control" id="discountEndday"
                                                placeholder="20/03/2024" th:field="*{endDay}">
                                                <i th:errors="*{EndDay}" style="color: #e5193b;"></i>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 "
                                            style="margin-top: 5px;">
                                            <label for="Quantity">Số lượng</label>
                                            <input type="number" class="form-control" id="discountQuantity"
                                                placeholder="Số lượng" th:field="*{quantity}">
                                                <i th:errors="*{Quantity}" style="color: #e5193b;"></i>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 "
                                            style="margin-top: 5px;">
                                            <label for="Description">Mô tả giảm giá</label>
                                            <textarea class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 "
                                                id="discountDescription" name="w3review" rows="5" cols="50"
                                                th:field="*{description}">
                                                <i th:errors="*{Description}" style="color: #e5193b;"></i>
                                                    </textarea>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 "
                                        style="margin-left: -15px;">
                                        <button class="btn btn-primary" type="submit" style="width:90px;"
                                            id="submitButton">Lưu</button>
                                        <button onclick="resetForm()" class="btn btn-info" type="button"
                                            style="width:90px;">Làm mới</button>
                                            <a href="/admin/discount" class="btn btn-success" type="submit" style="width:150px;color: white;">
                                                Quay về danh sách
                                                </a>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end validation form -->
                <!-- ============================================================== -->
            </div>
        </div>
    </div>

    </div>


    <!-- bang  -->
   
                <!-- ============================================================== -->
                <!-- end data table  -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end basic table  -->
            <!-- ============================================================== -->

            <!-- end bang -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->

            <!-- <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-left: 250px; width: 100%;">
                            Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>                 
                    </div>
                </div>
            </div> -->
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="../../../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../../../assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="../../../assets/vendor/parsley/parsley.js"></script>
    <script src="../../../assets/libs/js/main-js.js"></script>
    <script>






        $('#form').parsley();
    </script>
 
    <script>
        const resetForm = () => {
            document.getElementById('discountName').value = '';
            document.getElementById('discountPercents').value = '';
            document.getElementById('discountStartday').value = '';
            document.getElementById('discountEndday').value = '';
            document.getElementById('discountQuantity').value = '';
            document.getElementById('discountDescription').value = '';
        }
    </script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script th:if="${not #strings.isEmpty(successMessage)}"> // thông báo lưu thành công
    var successMessage = 'Lưu thành công';
    Swal.fire({
        icon: 'success',
        title: 'Thành  công!',
        text: successMessage,
        showConfirmButton: false,
        timer: 1500,
    });
</script>
<!-- <script th:if="${not #strings.isEmpty(errorMessage)}"> // thông báo lưu thành công
    var successMessage = 'Không bỏ trống dữ liệu vui lòng nhập hoặc chọn dữ liệu';
    Swal.fire({
        icon: 'error',
        title: 'Thất bại!',
        text: successMessage,
        showConfirmButton: false,
        timer: 1500,
    });
</script> -->
<!-- <script th:if="${not #strings.isEmpty(errorMessagee)}"> // thông báo lưu thành công
    var successMessage = 'Không bỏ trống hình ảnh';
    Swal.fire({
        icon: 'error',
        title: 'Thất bại!',
        text: successMessage,
        showConfirmButton: false,
        timer: 1500,
    });
</script> -->

<script>

    function confirmDelete(DiscountId) {
        Swal.fire({
            title: 'Bạn có chắc muốn xóa không?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Có',
            cancelButtonText: 'Không',
        }).then((result) => {
            if (result.isConfirmed) {
                // Nếu người dùng đồng ý xóa, thực hiện chuyển đường dẫn
                window.location.href = '/admin/discount/delete/' + DiscountId;
            }
        });

        // Trả về false để ngăn chặn hành động mặc định của liên kết
        return false;
    }
</script>

<script th:if="${not #strings.isEmpty(deletesuccessMessage)}"> // thông báo xóa thành công
    var successMessage = 'Xóa sản phẩm thành công';
    Swal.fire({
        icon: 'success',
        title: 'Thành công!',
        text: successMessage,
        showConfirmButton: false,
        timer: 1500,
    });
</script>

<!-- <script th:if="${not #strings.isEmpty(deleteerrorMessage)}"> // thông báo xóa thất bại
    var errorMessage = 'Xóa sản phẩm thất bại';
    Swal.fire({
        icon: 'error',
        title: 'Lỗi!',
        text: errorMessage,
        showConfirmButton: false,
        timer: 1500,
    });
</script> -->

<script src="../../../../../assets/vendor/multi-select/js/jquery.multi-select.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="../../../../../assets/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="../../../../../assets/vendor/datatables/js/buttons.bootstrap4.min.js"></script>
<script src="../../../../../assets/vendor/datatables/js/data-table.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
    <!-- // table   -->
</body>

</html>